{% extends "layout.html" %}

{% block content %}

{% include 'heading.html' %}
    {% for restaurant in restaurants %}
        <h3>{{ restaurant.name }}</h3>
        <a href={{ url_for("restaurant.show_menu", restaurant_id=restaurant.id) }}>Menu</a>
        <a href={{ url_for("restaurant.update", restaurant_id=restaurant.id) }}>Edit</a>
        <a href={{ url_for("restaurant.delete", restaurant_id=restaurant.id) }}>Delete</a>
    {% endfor %}

    <a href={{ url_for("restaurant.create") }}>Add a new restaurant</a>
{% endblock %}