{% extends "layout.html" %}

{% block content %}

    <h3>Add an item to {{ restaurant.name }} menu</h3>
    <form method="post">

        <label>Item Name</label>
        <input type="text" name="name" value="{{ menu_item.name }}"><br>

        <label>Description</label>
        <textarea type="text" name="desc">{{ menu_item.desc }}</textarea><br>

        <label>Price</label>
        <input type="text" name="price" value="{{ menu_item.price }}"><br>

        <button type="submit">Submit</button>
    </form>
    <a href={{ url_for("restaurant.show_menu", restaurant_id=restaurant.id) }}>Cancel</a>
{% endblock %}